/**
 * @file        debug_transport_usb_cdc.cpp.template
 * @brief       USB CDC debug transport implementation template.
 *
 *              Provides a template for implementing the debug transport
 *              using USB CDC (Virtual COM Port).
 *
 *              The application/platform must provide the actual USB CDC
 *              transfer implementation.
 *
 * @author      Sarath S
 * @copyright   MIT License
 */

#include "debug_transport_usb_cdc.hpp"
#include "usbd_cdc_if.h"
#include "usbd_def.h"
#include "stm32u5xx_hal.h"

namespace debug
{
namespace transport
{

Error UsbCdc::init()
{
    /* USB stack is initialized by the application. */
    return Error::Success;
}

Error UsbCdc::deinit()
{
    return Error::Success;
}

Error UsbCdc::write(const std::uint8_t* data, std::uint32_t length)
{
    if (nullptr == data)
    {
        return Error::NullPointer;
    }

    if (0U == length)
    {
        return Error::InvalidLength;
    }

    /*
     * Transfer data using the platform/vendor API.
     */
    if (USBD_OK == CDC_Transmit_FS(const_cast<std::uint8_t *>(data), length))
    {
        return Error::Success;;
    }

    return Error::TransferError;
}

} // namespace transport
} // namespace debug